<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML and CSS Tags</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Web Tags</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a style="color:red" href="/">Home</a>
            </li>
            <li>
                <a style="color:red" href="/webpages">All Data</a>
            </li>
            <li>
                <a style="color:red" href="/styles">Manual</a>
            </li>
            <li>
                <a style="color:red" href="/autos">Automatic</a>
            </li>
            <li>
                <form method="post" action="/search">
                    <label for="searchbox">Find in DataSheet:</label>
                    <input type="text" name="Search" id="searchbox">
                    <input type="submit" value="Find">
                </form>
            </li>
        </ul>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><></p>
    </footer>
</body>
</html>