{% extends"base.html" %}
{% block main %}
        <h2>Manual Transmission Motorbikes:</h2>

        <table style="color:red">
            <thead>
                <tr style="color:white">
                    <td>Price</td>
                    <td>Mileage</td>
                    <td>Power (HP)</td>
                    <td>Brand</td>
                    <td>Date</td>
                    <td>Fuel Type</td>
                    <td>Transmission</td>
                    <td>Condition</td>
                </tr>
            </thead>
            <tbody>

                {% for row in data %}
                    <tr>
                        <td>
                            {{ row[0] }}
                        </td>
                        <td>
                            {{ row[1] }}
                        </td>
                        <td>
                            {{ row[2] }}
                        </td>
                        <td>
                            {{ row[3] }}
                        </td>
                        <td>
                            {{ row[4] }}
                        </td>
                        <td>
                            {{ row[5] }}
                        </td>
                        <td style="color:rebeccapurple">
                            {{ row[6] }}
                        </td>
                        <td>
                            {{ row[7] }}
                        </td>

                        </tr>
                {% endfor %}
            </tbody>


        </table>





{% endblock %}